{% extends "layout.html" %}

{% block content %}

<div class="bg-light p-5 rounded">
    <h1>Webshop</h1>
    <p class="lead">Bedankt om onze website te bezoeken, hier kan je onze catalogus bekijken en items reserveren.</p>
    <p><a href="http://flask.pocoo.org/" class="btn btn-primary btn-large">Zie catalogus &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Item1</h2>
        <div class="d-flex">
            <div class="me-1">
                <img src="static/images/Test_image.jpg" width="150" height="auto">
            </div>
            <div>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ut ex id est finibus pharetra.
                    Phasellus id diam nec ante maximus venenatis. Donec magna mi, porta elementum velit ut, sodales pretium lorem.
                </p>
            </div>
        </div>
        <p><a class="btn btn-secondary" href="http://flask.pocoo.org/docs/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ut ex id est finibus pharetra.</p>
        <p><a class="btn btn-secondary" href="https://pypi.python.org/pypi">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Microsoft Azure</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ut ex id est finibus pharetra.</p>
        <p><a class="btn btn-secondary" href="http://azure.microsoft.com">Learn more &raquo;</a></p>
    </div>
</div>

{% endblock %}
